body {
    background-color: whitesmoke;
}

/* Header */
header {
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: whitesmoke;

}

.logo {
    height: 50px;
    width: 50px;
}

.nav {
    display: flex;
    align-items: center;



}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    padding: 30px;
    font-weight: 900;

}

.navleft {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1200px;
    top: 0px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 6px;

}

.navleft li a {
    text-decoration: none;
    color: black;
}

.navleft :nth-child(4) {
    border: 1px solid yellow;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: yellow;

}


.navleft li {
    list-style: none;
    padding: 20px;
    font-weight: 900;
}

/* Hidingbox */
.hidingbox {
    height: 86px;
    width: 280px;
    border: 0px solid;
    position: fixed;
    top: 0px;
    left: 930px;
    background-color: whitesmoke;
}

/* homenav */
.homenav {
    position: absolute;
    top: 100px;
    left: 50px;
}

.homenav a {
    text-decoration: none;
}

.hmolk {
    color: black;
}

.photolnk {

    color: rgb(127, 127, 130);
}

/* gallery img */
.imgglary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 165px;
    left: 250px;
    grid-gap: 175px 100px;
    margin-left: 50px;


}

.image-container {
    overflow: hidden;
    height: 250px;
    width: 400px;
}

.imgglary img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    margin-bottom: 100px;

}

.imgglary img:hover {
    transform: scale(1.1);
}

.imgboxnum span {
    border: 1px solid;
    padding: 7px;
    margin: 0px;
}

.imgboxnum {
    position: absolute;
    top: 1490px;
    left: 650px;
}

/* IMG box decoration */
.firstone {
    text-decoration: none;
    border: 1px solid;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 15px 15px;

}

.numbersbox {
    text-decoration: none;
    border: 1px solid;
    color: black;
    background-color: white;
    padding: 15px 15px;
}

/* Comment box style */
/* Box1 */
.commentbox1 {
    position: absolute;
    top: 155px;
    left: 289px;
    border: 0px solid;
    background-color: white;
    height: 90px;
    width: 381px;
    padding: 10px 30px 15px 15px;
    padding-top: 273px;
    padding-left: 10px;
    z-index: -1;

}

.commentbox1 p {
    margin-top: 0px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;


}

.cmh1 {
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-weight: 550;
}

.cmh2 {
    color: rgb(114, 114, 114);
}

.cmh3 {
    font-size: 13px;
    font-weight: 600;
    color: rgb(83, 81, 84);
}

.commentbox1 img {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 60px;
    left: 350px;
}

/* Box 2 */
.commentbox2 {
    position: absolute;
    top: 155px;
    left: 790px;
    border: 0px solid;
    background-color: white;
    height: 90px;
    width: 381px;
    padding: 10px 30px 15px 15px;
    padding-top: 273px;
    padding-left: 10px;
    z-index: -1;

}

.commentbox2 p {
    margin-top: 0px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;


}

.cmh1 {
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-weight: 550;
}

.cmh2 {
    color: rgb(114, 114, 114);
}

.cmh3 {
    font-size: 13px;
    font-weight: 600;
    color: rgb(83, 81, 84);
}

.commentbox2 img {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 60px;
    left: 350px;
}

/* Box 3 */
.commentbox3 {
    position: absolute;
    top: 580px;
    left: 289px;
    border: 0px solid;
    background-color: white;
    height: 90px;
    width: 381px;
    padding: 10px 30px 15px 15px;
    padding-top: 273px;
    padding-left: 10px;
    z-index: -1;

}

.commentbox3 p {
    margin-top: 0px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;


}

.cmh1 {
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-weight: 550;
}

.cmh2 {
    color: rgb(114, 114, 114);
}

.cmh3 {
    font-size: 13px;
    font-weight: 600;
    color: rgb(83, 81, 84);
}

.commentbox3 img {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 60px;
    left: 350px;
}

/* Box 4 */
.commentbox4 {
    position: absolute;
    top: 580px;
    left: 790px;
    border: 0px solid;
    background-color: white;
    height: 90px;
    width: 381px;
    padding: 10px 30px 15px 15px;
    padding-top: 273px;
    padding-left: 10px;
    z-index: -1;

}

.commentbox4 p {
    margin-top: 0px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;


}

.cmh1 {
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-weight: 550;
}

.cmh2 {
    color: rgb(114, 114, 114);
}

.cmh3 {
    font-size: 13px;
    font-weight: 600;
    color: rgb(83, 81, 84);
}

.commentbox4 img {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 60px;
    left: 350px;
}

/* Box5 */
.commentbox5 {
    position: absolute;
    top: 1008px;
    left: 289px;
    border: 0px solid;
    background-color: white;
    height: 90px;
    width: 381px;
    padding: 10px 30px 15px 15px;
    padding-top: 273px;
    padding-left: 10px;
    z-index: -1;

}

.commentbox5 p {
    margin-top: 0px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;


}

.cmh1 {
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-weight: 550;
}

.cmh2 {
    color: rgb(114, 114, 114);
}

.cmh3 {
    font-size: 13px;
    font-weight: 600;
    color: rgb(83, 81, 84);
}

.commentbox5 img {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 60px;
    left: 350px;
}

/* Box 6 */
.commentbox6 {
    position: absolute;
    top: 1008px;
    left: 790px;
    border: 0px solid;
    background-color: white;
    height: 90px;
    width: 381px;
    padding: 10px 30px 15px 15px;
    padding-top: 273px;
    padding-left: 10px;
    z-index: -1;

}

.commentbox6 p {
    margin-top: 0px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;


}

.cmh1 {
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-weight: 550;
}

.cmh2 {
    color: rgb(114, 114, 114);
}

.cmh3 {
    font-size: 13px;
    font-weight: 600;
    color: rgb(83, 81, 84);
}

.commentbox6 img {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 60px;
    left: 350px;
}

/* Footer */
footer {
    background-color: rgb(218, 216, 216);
    position: absolute;
    top: 1600px;



}

.footers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 50px;
    position: relative;
    bottom: 90px;
    margin-left: 100px;


}

.footer1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 20px;
    font-size: 20px;
    color: rgb(66, 66, 67);
    letter-spacing: 2px;


}


.endpart {
    position: relative;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.endpart p {
    font-size: 20px;
    position: relative;
    line-height: 30px;


}

.endpart ul li {
    list-style: none;
    margin-bottom: 18px;


}

.endpart ul li:hover {
    color: blue;
    transform: scale(1.1, 1.1);
}

.endpart ul {
    padding-left: 80px;
}